* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

@font-face {
    font-family: pricedown;
    src: url("assets/pricedown.otf") format("opentype");
}
html, body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

.page {
    height: 100vh;
    width: 100vw;      
    display: flex;
    flex-direction: column;
    background-color: #201c32;
}

.nav {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
    /* border: 1px solid red */
}

.nav > .rps-logo {
    font-family: pricedown;
    font-size: 2.5rem;
    margin-right: auto;
    letter-spacing: 8px;
}

.rps-logo span:nth-child(1) {
    color: #2e72a3;
}
.rps-logo span:nth-child(2) {
    color: #dc6759;
}
.rps-logo span:nth-child(3) {
    color: #a17cb2;
}

.mode-div {
    display: flex;
    justify-content: center;
}

.mode-div button {
    padding: 10px;
    font-weight: bold;
    color: rgb(201, 201, 201);
    background-color: #322b56;
    border: 2px solid #433971;
    
}

.mode-div button:first-child {
    border-radius: 10px 0 0 10px;

}

.mode-div button:last-child {
    border-radius: 0 10px 10px 0px;

}

img {
    width: 300px;
    height: 300px;
    /* border: 2px dashed red; */
}

.sprite-reverse {
    transform: rotate(180deg); 
}

.choices-sprites {
    width: 40px;
    height: 40px;
}


.choices-clickables {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 8px;
    gap: 10px;
    
}

.pointer-events {
    pointer-events: none;
}

.coming-soon {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -100px; 
    margin-bottom: 70px;  
    transform: rotate(270deg);
    color: white;
}

.choices-clickables > button {
    /* margin: 10px; */
    border: 2px solid #433971;
    background-color: #322b56;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0px #191529;
    padding: 10px;
    transition: transform 0.5s ease; 
}

.choices-clickables > button:active {
    background-color: #433971;
    transform: scale(0.95);
}
.choices-clickables-user-0 {
    margin: -30px;
    left: 0;
    bottom: 0;
}
.choices-clickables-user-1 {
    margin: -30px;
    right: 0;
    top: 0;
}


.game {
    width: 900px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.status {
    position: absolute;
    z-index: 10;
}

.status-message > div {
    font-family: pricedown;
    font-size: 5rem;
    animation: status-message 0.4s ease-out 0s 1 normal;   
}

@keyframes status-message {
    0% {
        transform: scale(0);
        
    }
    100% {
        transform: scale(1);
    }
}

.lost {
    color: #a63a41;
    display: none;
    text-shadow: 0px 0px 100px #14094b;

}
.won {
    color: #eac46c;
    display: none;
    text-shadow: 0px 0px 100px #14094b;
}
.tie {
    color: #eac46c;
    display: none;
    text-shadow: 0px 0px 100px #14094b;
}
.replay{
    font-family: pricedown;
    font-size: 2rem;   
    position: absolute;
    bottom: 0;
    display: none;
    animation: status-message 0.4s ease-out 0s 1 normal;   
}
.replay button {
    background-color: #322b56;
    border: 2px solid #433971;
    padding: 6px 10px 10px 10px;
    border-radius: 10px;
    margin: 10px;
    color: #40c67a;
    box-shadow: 0 2px 2px 0px #191529;
    transition: transform 0.5s ease; 
}
.replay button:active {
    transform: scale(0.95);
}
.display-visible {
    display: block;
}


.game-board {
    display: flex;
    width: 100%;
    height: 450px;
    gap: 20px;
    border: 2px solid #433971;
    background-color: #322b56;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    position: relative;

}

.player-user-anim {
    animation: player-animate 0.2s ease-in 0s infinite alternate; 

}

@keyframes player-animate {
    0%   {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

button {
    cursor: pointer;
}

.score-num {
    top: 90px;
    color: #40c67a;
    position: absolute;
    font-family: pricedown;
    font-size: 1.5rem;
    animation: up-disappear 1s ease-in 0s 1 forwards;
}
.score-0-side {
    left: 80px;
}

.score-1-side {
    right: 80px;
}
@keyframes up-disappear {
    0% {
        top: 90px;
        opacity: 1;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}


.start-page {
    font-family: pricedown;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10000;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: c; */
    align-items: center;
}

.start-page h1{ 
    margin-top: 40px;
    /* border: 2px solid red; */
    text-align: center;
}

.start-page .round-options {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 50px;
}

.start-page h2 {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-top: 200px;
}
.round-options button {
    padding: 20px;
    width: 100px;
    border: white 1px solid;
    border-radius: 10px;
    background-color: black;
    height: 100px;
    color: white;
    font-size: 2rem;
}

.start-page h4 {
    /* border: 2px solid red; */
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-top: auto;
    margin-bottom: 40px;
}


@media only screen and (max-width: 980px) {  
    html, body {
      display: none;
     }
    }

.credits {
    margin-bottom: 0;
    text-align: center;
    color: white;
    margin: 15px;
    align-self: center;
    position: absolute;
    bottom: 10px;
    z-index: 20;
    cursor: pointer;
    text-decoration: underline;
}

.roll-credits {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 20;
    text-align: center;
    /* animation: status-message 1s ease-out 0s 1 normal;    */
    background: radial-gradient( #322b5675, rgb(13, 3, 36) 99%);
    text-transform: uppercase;
}

.roll-credits-toggle-flex {
    display: flex;
}
/* .credits-body:hover {
    animation-play-state: paused;
} */
.credits-body {
    font-size: 1em;
    position: fixed;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
}

.credits-body a {
    color: white;
    text-transform: lowercase;
}
.credits-body a:hover {
    color: #dc6759;
}


.left-credits {
    text-align: right;
}

.right-credits {
    text-align: left;
}

.left-credits > div, .right-credits > div {
    color: white;
    font-size: 1rem;
    margin-bottom: 30px;
}

.credits-body-animate {
    animation: roll-credits 5s linear 0s 1 forwards;   
}


@keyframes roll-credits {

    0% { bottom: calc(-30vh); visibility: visible; 

    }
    100% { 
        bottom: calc(35vh); visibility: visible;}
}
