* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
    font-family: pricedown;
    src: url("assets/pricedown.otf") format("opentype");
}
html, body {
    height: 100%;
    width: 100%;
}

.page {
    height: 100%;
    width: 100%;
    background-color: #201c32;
}

.nav {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
    /* border: 1px solid red */
}

.nav > .rps-logo {
    font-family: pricedown;
    font-size: 2.5rem;
    margin-right: auto;
    letter-spacing: 8px;
}

.rps-logo span:nth-child(1) {
    color: #a17cb2;
}
.rps-logo span:nth-child(2) {
    color: #dc6759;
}
.rps-logo span:nth-child(3) {
    color: #2e72a3;
}

.mode-div {
    display: flex;
    justify-content: center;
    /* background-color: black; */
    /* border: 2px solid white; */
    /* padding: 10px 15px; */
}

.mode-div button {
    padding: 10px;
    font-weight: bold;
    color: rgb(201, 201, 201);
    background-color: #322b56;
    border: 2px solid #433971;
    
}

.mode-div button:first-child {
    border-radius: 10px 0 0 10px;

}

.mode-div button:last-child {
    border-radius: 0 10px 10px 0px;

}

img {
    width: 300px;
    height: 300px;
    /* border: 2px dashed red; */
}

.sprite-reverse {
    transform: rotate(180deg); 
}

.choices-sprites {
    width: 40px;
    height: 40px;
}


.choices-clickables {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 8px;
    gap: 8px;
}


.coming-soon {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -100px; 
    margin-bottom: 70px;  
    transform: rotate(270deg);
    color: white;
}

.choices-clickables > button {
    /* margin: 10px; */
    border: 2px solid #433971;
    background-color: #322b56;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0px #191529;
    padding: 10px;
    transition: transform 0.5s ease; 
}

.choices-clickables > button:active {
    background-color: #433971;
    transform: scale(0.95);
}
.choices-clickables-user-0 {
    margin: -30px;
    left: 0;
    bottom: 0;
}
.choices-clickables-user-1 {
    margin: -30px;
    right: 0;
    top: 0;
}


.game {
    /* border: 1px solid red; */
    width: 900px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.status {
    /* height: 150px; */
    position: absolute;
    /* border: 2px solid red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.status-message {
    font-family: pricedown;
    /* border: 1px solid red; */
    /* text-align: center; */
    font-size: 5rem;
    color: #eac46c;
}

.game-board {
    display: flex;
    width: 100%;
    height: 450px;
    gap: 20px;
    /* border: 2px solid blue; */
    /* box-shadow: 0 25px 20px 0px #191529; */
    border: 2px solid #433971;
    background-color: #322b56;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    position: relative;

}